.card {
    margin-bottom: 10px;
    width: 40%;
    background-color: #333439;
}

.card-responsive {
    margin-bottom: 10px;
    width: 90%;
    background-color: #333439;
}

.card-subtitle-responsive-sm{
    margin-bottom: 10px;
    width: 90%;
    background-color: #333439;
}

.card-title {
    color: #979FA6;
}

.card-title-responsive {
    color: #979FA6;
    font-size: 16px;
}

.card-subtitle mb-2 text-muted {
    color: #979FA6;
}

.card-subtitle-responsive {
    font-size: 14px;
}

.description {
    color: #C3C3C3;
}

.description-responsive {
    font-size: 12px;
}

span {
    color: white;
}

.main-container {
    margin-top: 3vh;
}