<!-- <div fxFlex="100" class="main-container" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" class="card" fxFlex="40" [ngClass.xs]="'card-responsive'" [ngClass.sm]="'card-subtitle-responsive-sm'"> 
        <div fxFlex="100" class="card-body">
            <h5 class="card-title" [ngClass.xs]="'card-title-responsive'">Fronted Developer - Experis Solutions</h5>
            <h6 class="card-subtitle mb-2 text-muted" [ngClass.xs]="'card-subtitle-responsive'">(1 March 2020 - 11 Sep 2020):</h6>
            <ul class="description" [ngClass.xs]="'description-responsive'">
                <li>Development web applications with Angular 9, Flex-Layout and Angular Material</li>
            </ul>
        </div>
    </div>
    <div fxLayout="row" class="card" fxFlex="40" [ngClass.xs]="'card-responsive'" [ngClass.sm]="'card-subtitle-responsive-sm'">
        <div fxFlex="100" class="card-body">
            <h5 class="card-title" [ngClass.xs]="'card-title-responsive'">Fronted Developer - Industrial Gobernance</h5>
            <h6 class="card-subtitle mb-2 text-muted" [ngClass.xs]="'card-subtitle-responsive'">(1 Nov 2019 - March 2020):</h6>
            <ul class="description" [ngClass.xs]="'description-responsive'">
                <li>Development web applications with React, Styled- Components, Reach-Route and ESRI API 4.12</li>
            </ul>
        </div>
    </div>
    <div fxLayout="row" class="card" fxFlex="40" [ngClass.xs]="'card-responsive'" [ngClass.sm]="'card-subtitle-responsive-sm'">
        <div fxFlex="100" class="card-body">
            <h5 class="card-title" [ngClass.xs]="'card-title-responsive'">Fronted Developer - dotGIS</h5>
            <h6 class="card-subtitle mb-2 text-muted" [ngClass.xs]="'card-subtitle-responsive'">(Nov 2018 - 15 Oct 2019):</h6>
            <ul class="description" [ngClass.xs]="'description-responsive'">
                <li>Development configurable themes and widgets with Javascript Vanilla,HTML and CSS</li>
                <li>Development GIS Web Viewers with JavaScript API from ESRI</li>
            </ul>
        </div>
    </div>
    <div fxLayout="row" class="card" fxFlex="40" [ngClass.xs]="'card-responsive'" [ngClass.sm]="'card-subtitle-responsive-sm'">
        <div fxFlex="100" class="card-body">
            <h5 class="card-title" [ngClass.xs]="'card-title-responsive'">GIS Technician - ADER La Palma</h5>
            <h6 class="card-subtitle mb-2 text-muted" [ngClass.xs]="'card-subtitle-responsive'">(Sept 2017- Dic 2017):</h6>
            <ul class="description" [ngClass.xs]="'description-responsive'">
                <li>Production of cartography</li>
                <li>Edition and storage in GIS format</li>
                <li>Territorial analysis in vector and raster format</li>
                <li>GIS Web applications with ArcGIS Online</li>
            </ul>
        </div>
    </div>
    <div fxLayout="row" class="card" fxFlex="40" [ngClass.xs]="'card-responsive'" [ngClass.sm]="'card-subtitle-responsive-sm'">
        <div fxFlex="100" class="card-body">
            <h5 class="card-title" [ngClass.xs]="'card-title-responsive'">GIS Technician - Cabildo de La Palma</h5>
            <h6 class="card-subtitle mb-2 text-muted" [ngClass.xs]="'card-subtitle-responsive'">(Jun 2017 - Aug 2017):</h6>
            <ul class="description" [ngClass.xs]="'description-responsive'">
                <li>Multicriteria Analysis for the location of an asphalt plant on La Palma island through GIS</li>
                <li>Interpolation of mobile coverage data taking into account the relief through GIS</li>
                <li>Creation of a geotatabase for road incident</li>
            </ul>
        </div>
    </div>
</div> -->


<div fxFlex="100" class="main-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="box" fxLayout="row" fxFlex="100">
        <div fxFlex="10">
            FOTO
        </div>
        <div fxFlex="90">
            <h5 class="card-title" [ngClass.xs]="'card-title-responsive'">Fronted Developer - Experis Solutions</h5>
            <h6 class="card-subtitle mb-2 text-muted" [ngClass.xs]="'card-subtitle-responsive'">(1 March 2020 - 11 Sep
                2020):</h6>
            <ul class="description" [ngClass.xs]="'description-responsive'">
                <li>Development web applications with Angular 9, Flex-Layout and Angular Material</li>
            </ul>
        </div>
    </div>
    <div class="box" fxLayout="row" fxFlex="100">
        <div fxFlex="10">
            FOTO
        </div>
        <div fxFlex="90">
            <h5 class="card-title" [ngClass.xs]="'card-title-responsive'">Fronted Developer - Industrial Gobernance</h5>
            <h6 class="card-subtitle mb-2 text-muted" [ngClass.xs]="'card-subtitle-responsive'">(1 Nov 2019 - March
                2020):</h6>
            <ul class="description" [ngClass.xs]="'description-responsive'">
                <li>Development web applications with React, Styled- Components, Reach-Route and ESRI API 4.12</li>
            </ul>
        </div>
    </div>
    <div class="box" fxLayout="row" fxFlex="100">
        <div fxFlex="10">
            FOTO
        </div>
        <div fxFlex="90">
            <h5 class="card-title" [ngClass.xs]="'card-title-responsive'">Fronted Developer - dotGIS</h5>
            <h6 class="card-subtitle mb-2 text-muted" [ngClass.xs]="'card-subtitle-responsive'">(Nov 2018 - 15 Oct
                2019):</h6>
            <ul class="description" [ngClass.xs]="'description-responsive'">
                <li>Development configurable themes and widgets with Javascript Vanilla,HTML and CSS</li>
                <li>Development GIS Web Viewers with JavaScript API from ESRI</li>
            </ul>
        </div>
    </div>
    <div class="box" fxLayout="row" fxFlex="100">
        <div fxFlex="10">
            FOTO
        </div>
        <div fxFlex="90">
            <h5 class="card-title" [ngClass.xs]="'card-title-responsive'">GIS Technician - ADER La Palma</h5>
            <h6 class="card-subtitle mb-2 text-muted" [ngClass.xs]="'card-subtitle-responsive'">(Sept 2017- Dic 2017):
            </h6>
            <ul class="description" [ngClass.xs]="'description-responsive'">
                <li>Production of cartography</li>
                <li>Edition and storage in GIS format</li>
                <li>Territorial analysis in vector and raster format</li>
                <li>GIS Web applications with ArcGIS Online</li>
            </ul>
        </div>
    </div>
    <div class="box" fxLayout="row">
        <div>
            FOTO
        </div>
        <div >
            <h5 class="card-title" [ngClass.xs]="'card-title-responsive'">GIS Technician - Cabildo de La Palma</h5>
            <h6 class="card-subtitle mb-2 text-muted" [ngClass.xs]="'card-subtitle-responsive'">(Jun 2017 - Aug 2017):</h6>
            <ul class="description" [ngClass.xs]="'description-responsive'">
                <li>Multicriteria Analysis for the location of an asphalt plant on La Palma island through GIS</li>
                <li>Interpolation of mobile coverage data taking into account the relief through GIS</li>
                <li>Creation of a geotatabase for road incident</li>
            </ul>
        </div>
    </div>
</div>