<div class="home-background" [ngClass.xs]="'home-background-responsive'">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
        <div class="main-tittle" [ngClass.xs]="'main-tittle-responsive'">
            Ángel <span class="last-name" [ngClass.xs]="'last-name-responsive'">Suárez</span>
        </div>
        <div class="role" [ngClass.xs]="'role-responsive'"><span>Fronted Developer 👨‍💻</span></div>
        <div class="icons-home">
            <a href="https://github.com/asuarezc28" target="_blank"> <img class="icon" src="/assets/images/icon-github.png"></a>
            <a href=" https://www.linkedin.com/in/%C3%A1ngel-su%C3%A1rez-3aa74b111/" target="_blank"> <img class="icon" src="/assets/images/icon-linkenid.png"></a>
            <a download="CV-Ángel Suárez" target="_blank" href="/assets/downloads/cv-angel.pdf" target="_blank"> <img class="icon" src="/assets/images/icon-resume.png"></a>
        </div>
    </div>
</div>